body{
    display: flex;
    background-color: rgb(167, 162, 162);
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0px;
    flex-direction: column;
}
.heading{
    color: rgb(78, 78, 78);
    font-size: 5rem;
}
.container{
    display: grid;
    background-color: black;
    grid-template-columns: repeat(3,minmax(20px, 10vw));
    grid-template-rows: repeat(3,minmax(20px, 10vw));
    gap:10px;
    margin: 10px;
    border: 10px solid black;
    border-radius: 20px;
}
.box{
    display: flex;
    background-color: antiquewhite;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-weight: bold;
    color: purple;
    font-size: 4rem;
}
.box:hover{
    background-color: rgb(201, 201, 201);
}

#greeting{
    color: purple;
    font-size: 4rem;
    font-weight: bold;
}

